@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ben's Home Page";
}

<!DOCTYPE html>


<!--Header with my name.-->
<header>
    
<h1>Ben Kloepfer</h1>
<br />
</header>



<!--Body, which includes a picture of me with my cars, a paragraph about my goals for the class and beyond, and finally,
a list of the top three jobs I want to do after graduating.-->

<br />
<img id="picme" src="~/img/cars.png" width=250 />
<p>Ben is an IS student and loves cars.</p>
<br />
<p>
    I can't wait to get more comfortable with programming and to be able to make beautiful and functional websites.
    <br />
    This semester I look forward to gaining skills to use in designing websites for the rest of my career.
</p>
<h2>My top 3 careers:</h2>
<ul>
    <li>1. Web designer</li>
    <br />
    <li>2. Database technician</li>
    <br />
    <li>3. Data Analyst</li>

</ul>



